.about-img-cont{
    width: 600px;
    min-height: 500px;
    background-image: url("../assets/aboutImg (600 × 500 px).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-radius: 10px;
}
.about-cont div{
    width: 100%;
}
.about-img-cont::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: -10px;
    left:-10px;
    border-top: 3px solid var(--colorPrimary);
    border-left: 3px solid var(--colorPrimary);
}
.about-img-cont::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: -10px;
    right:-10px;
    border-bottom: 3px solid var(--colorPrimary);
    border-right: 3px solid var(--colorPrimary);
}
@media screen and (max-width:800px) {
    .about-cont{
        flex-direction: column;
    }
    .about-img-cont{
        min-height: 400px !important;
    }
    .about-desc h1{
        text-align: center;
    }

}
@media screen and (max-width:600px) {
    .about-img-cont{
        display: none;
    }
    .about-desc, .location-desc{
        box-shadow: 2px 2px 2px 2px #ccc;
    }
}
