.navbar-brand img{
    width: 150px;
}
.navbar{
    background-color: white !important;
    box-shadow: 1px 1px 4px 1px;
}
.nav-cont{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}
.visible {
    transform: translateY(0);
  }
  
  .hidden {
    transform: translateY(-100%);
  }
.textPrimary {
    color: var(--colorPrimary) !important;
    font-weight: bold;
  }